---
import { Image } from "astro:assets";

import { UsefulPost } from "@/types/entities/Useful";
import { formatDate } from "@/utils/date";

type Props = UsefulPost;

const { name, title, description, created_date }: Props = Astro.props;

const href = `/useful/${name}`;

const formattedCreationDate = formatDate(created_date);
---

<li class="useful-card aspect-ratio-square" data-title={title}>
    <a
        class="card rounded-[30px] aspect-ratio-square flex flex-col bg-bg-secondary p-5 lg:p-7.5 lg:p-10 justify-between w-full userActions"
        aria-label="Перейти к статье"
        href={href}
    >
        <div class="card__top-content">
            <h3 class="useful-item-title">
                {title}
            </h3>
            <p class="useful-item-descr">
                {description}
            </p>
        </div>
        <div class="card__bottom-content flex justify-between">
            <div class="flex items-end gap-4">
                <div class="flex items-center gap-2">
                    <Image
                        width={20}
                        height={20}
                        loading="lazy"
                        class="mb-1"
                        src=`/assets/img/time-icon.svg`
                        alt="time-icon"
                    />

                    <!-- <span class="text-[16px]"
                        >~{length && getTimeToRead(length)} мин</span
                    > -->
                </div>
                {
                    formattedCreationDate && (
                        <span class="text-[16px]">{formattedCreationDate}</span>
                    )
                }
            </div>
            <i class="useful-item-goto-icon"></i>
        </div>
    </a>
</li>
<style>
    .useful-item-goto-icon {
        background: url("/assets/img/goto.svg") no-repeat center;
        width: 50px;
        height: 50px;
        border: 1.5px solid var(--color-border);
        border-radius: 100%;
        color: var(--color-border);
    }
</style>
